@import "../../../assets/styles/index.scss";

// .baner {
//   // max-width: 120rem;
//   // max-height: 68rem;
//   .image {
//     max-width: 120rem;
//     max-height: 68rem;
//   }
// }
.baner {
  .image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
// .baner {
//   background-image: url("../../../assets/images/baner.webp");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }
