@import "../../../assets/styles/index.scss";

.wrapper {
  position: relative;
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  .text {
    @include H32;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    .button {
      cursor: pointer;
      background: none;
    }
  }
}
.footer {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
  @include custom(440px) {
    flex-direction: column;
  }
}
.cards {
  @include container;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  justify-content: center;
  @include custom(1191px) {
    flex-direction: column;
  }
}
.cardsRow {
  @include container;
  display: none;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.toggleOn {
  display: flex;
  @include container;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.toggleOff {
  display: none;
  @include container;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
