@import "../../../assets/styles/index.scss";

.wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
  .pages,
  .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    button {
      @include H16;
      padding: 0.25rem 0.75rem;
      background: none;
      img {
        display: flex;
        align-self: flex-end;
      }
    }
  }
}
